.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.Drawing {
   height: 100%;
}

.Drawing-title {
   font-size: 33px;
   padding: 10px;
   background-color: #444;
   color: #fff;
   font-weight: 100;
}

.Form {
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.Form-drawingInput {
  border: 1px solid #ccc;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
}

.Form-button {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
}

.DrawingList {
  background-color: #fff;
  padding-left: 0px;
}


.DrawingList-item {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.DrawingList-item:hover {
  background-color: #eee;
}

.DrawingList-item:active {
  background-color: #ddd;
  box-shadow: inset 0 0 3px rgba(0,0,0, 0.6);
}

.DrawingList-item:last-child {
  border-bottom: none;
}

.Connection-error {
  background-color: red;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
